<!DOCTYPE html>
<html lang="ru">

<head>

<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@<%= username %></title>

    <link rel="stylesheet" href="/css/style.css">

    <link rel="stylesheet" href="/css/header.css">

    <link rel="stylesheet" href="/css/profile-edit.css">

</head>


<body>


<%- include("partials/header", {
    user: currentUser
}) %>




<div class="profile-card">


    <img
        class="avatar"
        src="<%= avatar %>"
        onerror="this.src='<%= defaultAvatar %>'"
    >



    <h1 class="display-name">
        <%= display_name %>
    </h1>



    <p class="username">
        @<%= username %>
    </p>



    <p class="bio">
        <%= bio %>
    </p>



    <% if(isOwner){ %>

    <button
    class="edit-profile-button"
    id="openEditProfile">

        Edit Profile

    </button>


    <% } %>



</div>





<% if(isOwner){ %>


<div
class="profile-edit-overlay"
id="profileEditOverlay">



    <div class="profile-edit-window">



        <div class="profile-edit-header">


            <h2>
                Edit Profile
            </h2>



            <button
            class="profile-edit-close"
            id="closeEditProfile">

                ✕

            </button>


        </div>





        <div class="profile-edit-line"></div>





        <form id="editProfileForm">



            <div class="avatar-upload-block">


    <div class="avatar-preview-side">


        <img
        id="avatarPreview"
        src="<%= avatar %>"
        onerror="this.src='<%= defaultAvatar %>'"
        >


        <button
        type="button"
        class="choose-image-button"
        onclick="document.getElementById('avatarInput').click()">

            Choose Image

        </button>


        <p class="avatar-hint">
            *only png, jpg, jpeg (max 1MB)*
        </p>


        <input
        id="avatarInput"
        type="file"
        accept=".png,.jpg,.jpeg"
        hidden
        >


    </div>



    <div class="avatar-upload-right">


    <h3>
        Upload Avatar
    </h3>


</div>


</div>





<label>
    Display Name
</label>


<input
id="displayNameInput"
type="text"
maxlength="25"
value="<%= display_name %>"
>





<label>
    Bio
</label>


<textarea
id="bioInput"
maxlength="250"
><%= bio %></textarea>




       <button
class="confirm-profile-button"
type="submit">

    <span class="button-text">
        Confirm
    </span>

    <span class="button-loader"></span>

</button>


        </form>



    </div>


</div>


<% } %>





<script src="/js/profile.js"></script>


</body>

</html>
