<!DOCTYPE html>
<html lang="ru">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@<%= username %></title>

    <link rel="stylesheet" href="/css/style.css">

</head>


<body>


<%- include("partials/header", {
    user: {
        userid: userid,
        display_name: display_name,
        avatar: avatar,
        defaultAvatar: defaultAvatar
    }
}) %>



<div class="profile-card">


        <img
            class="avatar"
            src="<%= avatar %>"
            onerror="this.src='<%= defaultAvatar %>'"
        >



        <h1 class="display-name">
            <%= display_name %>
        </h1>



        <p class="username">
            @<%= username %>
        </p>



        <p class="bio">
            <%= bio %>
        </p>


    </div>


</body>

</html>
